<!-- Este form va a tener toda la inf del formulario, es decir la captura final de datos -->
<form enctype="multipart/form-data" method="post">
  {% csrf_token%}
  {%for campo in formulario%}
    <div class="mb-3">
      <label for="" class="form-label">{{campo.label}}</label>
      
      <input type="{{campo.field.widget.input_type}}"
        class="form-control" 
        name="{{campo.name}}" 
        id="" 
        aria-describedby="helpId" 
        placeholder="{{campo.label}}"
        value="{{ campo.value }}"
        >

    </div>
    <div class="col-12 help-text">
      {{campo.errors}}
    </div>
  {%endfor%}
  <input type="submit" class="btn btn-success" value="Guardar">
  <input type="submit" class="btn btn-warning" value="Calcular">
  <a name="" id="" class="btn btn-secondary" href="{% url 'ventas' %}" role="button">Cancelar</a>
</form>