<!-- Mostara todos los registros -->
{% extends "base.html" %}

{% block titulo  %} Lista de Hojas {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Listar hojas
    </div>
    <div class="card-body">
        <h4 class="card-title">Hojas</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre cliente</th>
                        <th scope="col">Tipo de cliente</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">R1C1</td>
                        <td>R1C2</td>
                        <td>R1C3</td>
                    </tr>
                    <tr class="">
                        <td scope="row">Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}