<!-- Mostara todos los registros -->
{% extends "base.html" %}

{% block titulo  %} Lista de Ventas {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a href="{%url 'crear'%}" class="btn btn-success" id="" role="button">Agregar Venta</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Ventas</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre cliente</th>
                        <th scope="col">Tipo de cliente</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Neto a pagar</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}