<!-- Mostara todos los registros -->
{% extends "base.html" %}

{% block titulo  %} Lista de Ventas {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a href="{%url 'crear'%}" class="btn btn-success" id="" role="button">Agregar Venta</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Ventas</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre cliente</th>
                        <th scope="col">Tipo de cliente</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio por hoja</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Neto a pagar</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for venta in ventas %}
                    <tr>
                        <td>{{venta.id}}</td>
                        <td>{{venta.nombre}}</td>
                        <td>{{venta.tipo_cliente}}</td>
                        <td>{{venta.cantidad}}</td>
                        <td>{{venta.precio_por_hoja}}</td>
                        <td>{{venta.subtotal}}</td>
                        <td>{{venta.neto_por_pagar}}</td>
                        <td> 
                            <!-- Href se llama con el name del url -->
                            <a id="botoneditar" class="btn btn-primary" href="{% url 'editar' %}" role="button">Editar</a>
                            | 
                            <a id="botoneditar" class="btn btn-danger" href="{% url 'eliminar' venta.id%}" role="button">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}